<div class="fondo-negro animated fadeIn" [ngClass]="oculto">
  <div class="modal" style="display: block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button (click)="oculto='oculto'" type="button" class="close" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">

          <img *ngIf="!imagenTemp" [src]="'xxxx' | imagen" alt="" class="w150">
          <img *ngIf="imagenTemp" [src]="imagenTemp" alt="" class="w150">

          <br><br>

          <input (change)="seleccioinImagen( $event.target.files[0] )" type="file">



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="oculto='oculto'">Cerrar</button>
          <button (click)="subirImagen()" [disabled]="!imagenTemp" type="button" class="btn btn-primary">Subir Imagen</button>
        </div>
      </div>
    </div>
  </div>
</div>